body{
  font-family:"Times New Roman", Times, serif;
}


  .button{
    background-color: #FFFFFF;
    color:#000000;
    padding: 10px 15px;
    border: none;
  }

  .button:hover{
    background:black;
    color:white;
  }
