body{
  font-family:"Times New Roman", Times, serif;
  color:white;
  background-image: url('../images/flowers.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}


.button{
  background-color: #FFFFFF;
  color:#000000;
  padding: 10px 15px;
  border: none;
}

.button:hover{
  background:black;
  color:white;
}

  .btn-twitter{
    background: #00acee;
    border-color: #009ad5;
  }

  .btn-facebook{
    background: #4868ac;
    border-color: #314776;
  }

  .btn-pinterest{
    background: #b62f26;
    border-color: #b62f26;
  }

  #social-buttons button{
    color: white;
